@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/archivo";
@import "@fontsource-variable/dm-sans";

:root {
  --background: oklch(95.31% 0.0496 169.04);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(77.54% 0.1681 162.78);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #00d696;
  --chart-2: #7a83ff;
  --chart-3: #facc00;
  --chart-4: #ff4d50;
  --chart-5: #0099ff;
  --chart-active-dot: #000;
}

@theme inline {
  /* Breakpoints */
  --breakpoint-xm: 0;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1600px;

  /* Typography */
  --font-display: "Archivo Variable", sans-serif;
  --font-header: "Archivo Variable", sans-serif;
  --font-body: "DM Sans Variable", sans-serif;

  --text-d1: 68px;
  --text-d1--line-height: 72px;
  --text-d2: 58px;
  --text-d2--line-height: 64px;
  --text-h1: 48px;
  --text-h1--line-height: 52px;
  --text-h2: 40px;
  --text-h2--line-height: 44px;
  --text-h3: 34px;
  --text-h3--line-height: 36px;
  --text-h4: 28px;
  --text-h4--line-height: 32px;
  --text-h5: 24px;
  --text-h5--line-height: 28px;
  --text-h6: 20px;
  --text-h6--line-height: 24px;
  --text-p1: 19px;
  --text-p1--line-height: 22px;
  --text-p2: 16px;
  --text-p2--line-height: 20px;
  --text-p3: 12px;
  --text-p3--line-height: 16px;

  /* https://www.neobrutalism.dev */
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 2px;
  --spacing-boxShadowY: 2px;
  --spacing-reverseBoxShadowX: -2px;
  --spacing-reverseBoxShadowY: -2px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;

  /* Marquee */
  --animate-marquee: marquee 50s linear infinite;
  --animate-marquee2: marquee2 50s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
